html{
    font-family: 'Roboto', sans-serif !important;  
}
h1,h2,h3,h4,h5,h6{
    font-weight: 300;
    text-transform:uppercase;
}
.nav-menu {
    min-height: 96px;
}

/*testes*/
.bg-1 {
    background-color: #222;
}

.bg-2 {
    background-color: #e3e3e3;
}

/*testes*/

.banner-principal {
    height: 700px;
    background: url(SRC/BANNER_CODECHELLA.jpg);
    background-size: cover;
    background-position: bottom;
}
#logo-glitch{
    height: 96px;
    width: 540px;
}

/*CORES*/

.rosa-primario{
    background-color: #e505e5;
}
.azul-primario {
    background-color: #02edec !important;
}
.branco{
    background-color: #fff !important;
}
.preto{
    background-color: #222222;
}
.cinza-escuro {
    background-color: #333;
}

.glitch-1{
    box-shadow: -1px 2px 0px #02ecec, 1px -2px 0px #e505e5;
}
.glitch-1-txt:hover{
    text-shadow: -1px 1px 0px #02ecec, 1px -1px 0px #e505e5;;
}

/*cores tipografia*/
.rosa-primario-txt{
    color: #e505e5;
}
.azul-primario-txt{
    color: #02edec;
}

.rodape {
    min-height: 160px;
}

.conteudo {
    padding-top: 32px;
    padding-bottom: 128px;
}

.quadro-main {
    min-height: 100vh;
}

.navbar-brand img,
.rodape img {
    height: 2rem;
}
.logo-glitch-preto{
    height: 2.2rem;
}

.cta {
    border: 2px solid white !important;
    box-shadow: -2px 4px 0px #02ecec;
}
.cta:hover{
    box-shadow: -2px 4px 0px #02ecec, 2px -4px 0px #e505e5;
}

.traco-separador {
    width: 320px;
    height: 2px;
}

.social img {
    width: 36px;
}

.social,
assinatura {
    width: 200px;
}

.assinatura p {
    font-size: 0.55rem;
}